@page "/About"

<h2>About Html2Markdown</h2>
<p>
    I originally created <a href="https://github.com/baynezy/Html2Markdown">Html2Markdown</a> in 2013, as a .Net class library, so I could create <a href="https://daringfireball.net/projects/markdown/">Markdown</a> versions of my blog posts so I could migrate to a new blogging engine. Back then I only needed support for a subset of the standard, so that was all I included.
</p>

<p>
    About six months later I received my first pull request adding <code>&lt;blockquote&gt;</code> support. It was at this point it seemed other people had use cases, so I decided to finish support for the <a href="https://daringfireball.net/projects/markdown/">Markdown specification</a>.
</p>

<p>This website is a showcase for the library. If people find any issues then please <a href="https://github.com/baynezy/Html2Markdown/issues">report them on GitHub</a>, or even better contribute a pull request.</p>

<h3>NuGet</h3>
<p>If you want to include this library in your project then it is available as a <a href="https://www.nuget.org/packages/Html2Markdown/">NuGet package</a>.</p>
<code>
    PM> Install-Package Html2Markdown
</code>