@model Html2MarkdownConverter.Web.Models.HtmlConversionViewModel

<h2>Original</h2>
<pre id="html">
@Model.Html
</pre>
<h2>Converted</h2>
<textarea id="markdown" disabled="disabled">@Model.Markdown</textarea>
@Html.BootstrapButton("copy to clipboard <span class=\"glyphicon glyphicon-briefcase\"></span>", Buttons.Success, new {id="btnCopyToClipboard"})

@section AdditionalScripts
{
	<script src="~/Content/js/copy-to-clipboard.js"></script>
}
