@model Html2MarkdownConverter.Web.Models.HtmlConversionViewModel

<h2>Original</h2>
<pre id="html">
@Model.Html
</pre>
<h2>Converted</h2>
<pre id="markdown">
@Model.Markdown
</pre>
@Html.BootstrapButton("copy to clipboard <span class=\"glyphicon glyphicon-briefcase\"></span>", Buttons.Success, new {id="btnCopyToClipboard",  @data_clipboard_target="markdown"})

@section AdditionalScripts
{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>
	<script src="~/Content/js/copy-to-clipboard.js"></script>
}
