@model Html2MarkdownConverter.Web.Models.NavigationFooterViewModel

@{
    Layout = null;
}

<footer class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<p class="navbar-text">&copy; <a href="http://bayn.es">Simon Baynes</a> 2013 - @DateTime.Today.Year Version @Model.AppVersion</p>
	</div>
</footer>